.gridRow{
    display: flex;
    flex-direction: row;
}

.gridCol{
    width: 100px;
}

.rowName{
    margin-right: 12px;
    display: flex;
    width:130px;
    justify-content: flex-end;
    border-right: 1px black solid;
    padding-right: 4px;
}
.headerRow{
    border-bottom: 1px black solid;
}

.resultCol.OK{
    color: #00c853;
}

.resultCol.NOK{
    color: #d50000;
}

.dataGrid{
    margin-top:12px;
}

.addNewBtn{
    margin:4px;
}